.chevronRight-btn {
  width: 25px;
  align-items: center;
  background: none;
  border: none;
}

.form-block {
  padding: 20px;
}
.payment-ul li {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.login-btn {
  margin-top: 40px;
}
