.modal {
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 9;
  background-color: #00000044;
}
@media (min-width: 992px) {
  .modal {
    background-color: #00000022;
  }
}
