.home-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 0px 20px;
}

.food-card {
  background: none;
  margin-bottom: 25px;
  width: 100%;
  max-width: 420px;
  max-height: auto;
  position: relative;
}
.food-card-avatar {
  width: 100%;
  height: 233px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}
.food-card-section {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  text-transform: capitalize;
}

div:has(> .food-card-restaurant-name) {
  display: flex;
  align-items: center;
  gap: 8px;
}
.food-card-btns {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  gap: 20px;
}
.food-card-btns svg {
  height: 25px;
}
.home-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  z-index: 2;
  background-color: white;
}

#home h3 svg {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

.food-card-restaurant-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}
.more-button,
.menu-button {
  width: 25px;
  margin: 0px 7px;
}
.home-body {
  padding-top: 40px;
}
@media (hover: hover) {
  .food-card-btns {
    position: absolute;
    top: 190px;
    left: 5px;
    opacity: 0;
    width: fit-content;
    height: fit-content;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }
  .food-card-btns button {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .food-card-btns button svg {
    width: 21px;
  }
  .food-card-avatar:hover + .food-card-btns,
  .food-card-btns:hover {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 576px) {
  .home-section {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .home-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .feast-list-logo,
  .menu-button,
  .home-body-header {
    display: none;
  }
  .home-header {
    height: 40px;
  }
}
@media (min-width: 1300px) {
  .home-section {
    margin-right: 10%;
  }
}
/* .food-button { border: 1px solid silver; border-radius: 60px; height: 46px; display: inline; margin: 12px 7px; } */ /* .food-button span { display: flex; align-items: center; padding: 5px; } .food-button img { width: 31px; height: 31px; border-radius: 50%; } .food-button p { padding-left: 7px; padding-right: 7px; text-transform: capitalize; } .unselected-section { display: inline; } .selected-section { overflow-x: scroll; overflow-y: hidden; white-space: nowrap; } .selected-section .food-button { border: 1px solid var(--primary--700) ; } */
