.tray-summary-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tray-summary-row-p {
  color: var(--primary--300);
}
.tray-summary .checkout-btn {
  width: 100%;
  margin-left: 0px;
}
.tray-summary-detail {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}
.tsd-div {
  padding-left: 16px;
  display: flex;
  width: 100%;
  column-gap: 8px;
}
.tsd-div > svg {
  height: 16px;
  padding-top: 3px;
}
.tsd-div-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.tsd-div-section-div svg {
  width: 20px;
  height: inherit;
}
.tsd-div-section-div {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-size: 14px;
  cursor: pointer;
}
.tsd-div-section-div:hover {
  text-decoration: underline;
}
.tsd-div-section-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
}
.tray-summary .form-block input {
  height: 48px;
}
.tray-summary .form-block input:focus ~ label,
.tray-summary .form-block input:not(:placeholder-shown) ~ label {
  transform: translateY(-14px);
}
.tray-summary .err-span {
  font-size: 0.725rem;
}
.tsd-div-section-form-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  column-gap: 4px;
  border-radius: 10px;
  padding: 4px 8px;
  transition: all 0.3s ease-in-out;
}
.tsd-div-section-form-button:hover {
  background-color: #f6f6f6;
}
.tray-summary-header {
  padding: 8px 0px;
}
.tray-summary-body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 12px 0px;
}
.tray-summary-footer {
  padding: 16px 0px;
  border-top: 1px solid var(--primary--200);
}
@media (min-width: 992px) {
  .tray-summary {
    height: fit-content;
    max-width: 405px;
    margin-top: 44px;
    margin-bottom: 52px;
  }
  .tray-summary-header {
    border-bottom: 1px solid var(--primary--200);
    padding: 4px 16px;
  }
  .tray-summary-body,
  .tray-summary-footer {
    padding: 8px 16px;
  }
}
