.tray-header {
  padding: 10px var(--padding-from-screen-width);
}
.tray-card {
  display: flex;
  padding-bottom: 8px;
  padding-top: 4px;
  padding-left: var(--padding-from-screen-width);
  width: 100%;
  align-items: center;
}
.tray-card-avatar {
  aspect-ratio: 7/5;
  max-width: 200px;
  width: 42%;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 50%;
}
.tray-card-div {
  display: flex;
  flex-basis: 58%;
  flex-grow: 1;
  padding: 10px;
}
.amount-editor-div {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.plus-button,
.minus-button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary--200);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear-tray-btn,
.checkout-btn {
  width: 136px;
  height: 48px;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
.clear-tray-btn:hover {
  color: var(--primary--500);
  background-color: var(--primary--700);
}
.clear-tray-btn {
  position: absolute;
  right: var(--padding-from-screen-width);
  top: -40px;
  color: var(--primary--700);
  border: 1px solid var(--primary--700);
  height: 45px;
}
.tray-card-div-secondChild {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 50px;
  padding-bottom: 13px;
  gap: 10px;
}
.checkout-btn {
  border: 1.5px solid var(--primary--600);
  color: var(--primary--500);
  background-color: var(--primary--600);
  margin-left: var(--padding-from-screen-width);
}
.tray-card-div div:first-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
}
.tray-body-section {
  padding: 0 var(--padding-from-screen-width);
  position: relative;
}
.tray-body-section-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  padding-left: 0px;
}
.tray-body-section-div > div {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  bottom: -10px;
  font-size: 18px;
  font-weight: 600;
}
section:has(.emptyTrayIco) {
  text-align: center;
  position: absolute;
  top: 100px;
  width: 100%;
}
section:has(.emptyTrayIco) h2 {
  padding-bottom: 10px;
}
.tray-body .emptyTrayIco {
  width: 250px;
  opacity: 0.7;
  rotate: -12deg;
}
.tray-body-summary {
  display: none;
}
.amount-editor-div {
  margin-top: 16px;
}
@media (min-width: 576px) {
  .amount-editor-div {
    margin-top: 32px;
  }
}
@media (min-width: 992px) {
  .tray-body {
    display: flex;
  }
  .tray-body-section {
    width: 60%;
    padding-top: 50px;
  }
  .tray-body-summary {
    display: block;
    width: 36%;
    border-left: 1px solid var(--primary--200);
    padding-left: 15px;
    height: 100vh;
  }
  .clear-tray-btn {
    top: 4px;
  }
  .tray-body-section-div > .checkout-btn,
  .tray-body-section-div > div,
  .tray-header {
    display: none;
  }
}
