.bottom-tab-bar {
  background-color: var(--primary--500);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 54px;
  border-top: 1px solid var(--primary--200);
  position: fixed;
  bottom: 0px;
  left: 0%;
  right: 0%;
}
.BTBTab-button {
  width: 50px;
  border-radius: 50%;
}
.BTBTab-p {
  display: none;
}
.BTBTab-button svg {
  width: 25px;
  height: 25px;
}
.indicator {
  background-color: var(--primary--600);
  width: 15px;
  height: 5px;
  border-radius: 10px;
}
.BTBTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary--400);
}
@media (min-width: 992px) {
  .bottom-tab-bar {
    background: none;
    flex-direction: column;
    row-gap: 10px;
    align-items: end;
    border: none;
    height: fit-content;
    width: 20%;
    top: 70px;
    left: 0%;
  }
  .BTBTab-p {
    display: block;
  }

  .BTBTab {
    flex-direction: row;
    position: relative;
    justify-content: start;
    width: 130px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 3px 0;
    transition: all 0.3 ease-in-out;
  }
  .BTBTab:hover,
  .BTBTab:has(.indicator) {
    background-color: #f6f6f6;
  }
  .BTBTab-button svg {
    width: 30px;
    height: 30px;
  }
  .indicator {
    position: absolute;
    left: -12px;
    height: 100%;
    width: 6px;
    border-radius: 0 10px 10px 0;
  }
  .bottom-tab-bar a {
    text-decoration: none;
  }
  div:has(> .indicator) {
    color: var(--primary--600);
  }
  div:has(> .indicator) .filly > path,
  div:has(> .indicator) .filly > g {
    fill: var(--primary--600);
  }
  div:has(> .indicator) .stroky {
    stroke: var(--primary--600);
  }
}
