.bottom-tab-bar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: 54px;
  border-top: 1px solid var(--primary--200);
  position: fixed;
  bottom: 0px;
  left: 0%;
  right: 0%;
}
.bottom-tab-bar-button {
  width: 50px;
  border-radius: 50%;
}
.bottom-tab-bar-button svg {
  width: 25px;
  height: 25px;
}
.indicator {
  background-color: var(--primary--600);
  width: 15px;
  height: 5px;
  border-radius: 10px;
}
.bottom-tab-bar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
