/* ============================== */
/* login/signUp section */
/* ============================== */
#login-form {
  width: 80vw;
  max-width: var(--fixed-width);
  margin: 0px auto;
  margin-top: 150px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: var(--letterSpacing);
}
#login-form h1 {
  padding-bottom: 50px;
  font-size: 2.5rem;
}
#login-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.form-block {
  display: flex;
  flex-direction: column;
}
.form-block label {
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.form-block label p {
  letter-spacing: var(--letterSpacing);
}
.form-block input {
  width: 97%;
  align-self: flex-end;
  height: 52px;
  background: none;
  border: 1px solid var(--primary--200);
  padding: 15px;
  line-height: 25px;
  font-size: 1.05rem;
  outline-color: var(--primary--600);
  border-radius: 10px;
}
.submit-btn {
  width: 97%;
  align-self: flex-end;
  height: 52px;
  background-color: var(--primary--600);
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  font-size: 1.05rem;
  opacity: 0.85;
  transition: background-color ease-in-out 0.1s;
  border-radius: 10px;
  margin-top: 20px;
  color: var(--primary--500);
}
.login-btn:hover {
  background-color: var(--primary--600);
}

#or-block {
  display: flex;
  width: 130%;
  justify-content: center;
  column-gap: 3px;
  padding-top: 15px;
}
.h-line {
  border-top: 1px solid var(--primary--200);
  width: 40%;
  margin-top: 11px;
}
.sso-block {
  align-self: flex-end;
  display: flex;
  width: 97%;
  height: 52px;
  border: 1px solid var(--primary--200);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 8%;
  margin: 5px 0px;
}
.sso-block:hover {
  border: 1px solid var(--primary--600);
}
.sso-block img {
  width: 25px;
}
.s-l-link {
  color: var(--primary--700);
  text-decoration: none;
  padding-left: 5px;
}
#radio {
  display: flex;
  width: 97%;
  align-self: flex-end;
  column-gap: 2%;
}
.radio-form-block {
  flex-direction: row;
  border: 1px solid var(--primary--200);
  width: 49%;
  column-gap: 20px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 0px;
}
.radio-form-block:focus-within {
  border-color: var(--primary--700);
}
.radio-form-block input {
  align-self: auto;
  width: auto;
  height: auto;
}
.sign-up-btn {
  background-color: var(--primary--200);
  color: var(--primary--100);
}
/* ============================== */
/* login/signUp section */
/* ============================== */
.email-verification {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--primary--500);
  top: 0px;
  z-index: 3;
}
.email-verification div {
  display: flex;
}
.email-verification input {
  width: 50px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid var(--primary--200);
  margin: 20px 5px;
  font-size: large;
  padding: 16px;
  color: rgba(0, 0, 0, 0.55);
  outline: none;
  transition: border-color 0.15s ease, outline-color 0.15s ease,
    color 0.15s ease;
}
.email-verification input:active,
.email-verification input:focus {
  border-color: var(--primary--600);
}
.email-verification p {
  text-align: center;
}
.email-verification-p1 {
  font-size: 1.05rem;
}
.email-verification h2 {
  padding-bottom: 20px;
}
.email-v-btn {
  width: fit-content;
  align-self: center;
  padding: 20px 40px;
  margin-top: 0px;
  margin-bottom: 20px;
}
/* =================================== */
.err-span {
  color: red;
  width: 97%;
  align-self: self-end;
  display: block;
  padding-top: 3px;
  font-size: 0.8rem;
  display: none;
}
input:invalid[showerr="true"] ~ .err-span {
  display: block;
}
.login-err-span {
  display: block;
  align-self: self-end;
  color: red;
  width: 97%;
}
