.header {
  display: flex;
  justify-content: space-between;
  padding: 5px var(--padding-from-screen-width);
}
.order {
  display: flex;
  margin: 24px 10px;
  margin-right: 5px;
  column-gap: 3px;
  align-items: center;
}
.order-div > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-div {
  padding-left: 10px;
}

.order-h4 {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}
.order-h4 svg {
  height: 12px;
  transition: all 0.2s ease-in-out;
}
.order-h4:hover {
  text-decoration: underline;
}
.rot-45 {
  transform: rotate(90deg);
}
.green-text {
  color: green;
}
.order-page-btns {
  padding-top: 15px;
  padding-bottom: 5px;
}
.order-page-btns button {
  height: 33px;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
  font-size: 16px;
  border-radius: 7px;
  padding: 0px 10px;
  margin: 0px 5px;
}
.order-page-btns .order-page-btn-active {
  background-color: var(--primary--600);
  color: var(--primary--500);
  border: none;
}
.order-page-body {
  max-width: 540px;
  padding: 0px var(--padding-from-screen-width);
}
.image-slider-btns {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  width: fit-content;
  transform: translateY(5px);
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.order:hover .image-slider-btns,
.image-slider-btns:hover {
  opacity: 1;
  transform: translateY(0px);
}
.image-slider-btns svg {
  width: 10px;
  height: 10px;
}
.image-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  aspect-ratio: 7/5;
  max-width: 190px;
  border-radius: 10px;
}
.order-detail {
  font-size: var(--small-text);
  margin-left: 20px;
  padding: 5px 0px;
  border-left: 1px solid var(--primary--200);
  color: var(--primary--300);
}
.order-detail-item {
  padding: 6px 0px;
}
.order-detail-item img {
  height: 137px;
  width: 95%;
  border-radius: 10px;
  object-position: 50% 50%;
  object-fit: cover;
  max-width: 400px;
}
.order-detail-item-name {
  padding-right: 10px;
  font-weight: 500;
  color: black;
}
