.header {
  display: flex;
  justify-content: space-between;
  padding: 5px var(--padding-from-screen-width);
}
.order {
  display: flex;
  margin: 15px 10px;
  margin-right: 5px;
  column-gap: 3px;
  align-items: center;
}
.order > div {
  position: relative;
  width: 60%;
}
.order > div > ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.order li {
  list-style: none;
}

.order-h4 {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-weight: 500;
}
.order-h4 svg {
  height: 20px;
}
.green-text {
  color: green;
}
.order-page-btns button {
  height: 33px;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 0px 5px;
}
.order-page-btns .order-page-btn-active {
  background-color: var(--primary--600);
  color: white;
  border: none;
}
.order-h4 button {
  display: none;
}

@media (min-width: 992px) {
  .order-page-body {
    width: 60%;
  }
  .order-h4 button {
    display: inline;
    position: absolute;
    right: -12px;
    top: -2px;
  }
}

.image-slider-btns {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  width: fit-content;
  transform: translateY(5px);
  visibility: hidden;
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.order:hover .image-slider-btns,
.image-slider-btns:hover {
  opacity: 1;
  transform: translateY(0px);
}
.image-slider-btns svg {
  width: 10px;
  height: 10px;
}
.image-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  aspect-ratio: 7/5;
  max-width: 190px;
  border-radius: 10px;
}
