#page {
  width: 100vw;
  height: 100%;
}
#page > svg {
  display: none;
  position: fixed;
  top: 20px;
  right: 81%;
}
/* .v-dem {
  display: none;
} */
@media (min-width: 992px) {
  #page {
    position: absolute;
    right: 0px;
    width: 80%;
  }
  .v-dem {
    position: fixed;
    height: 100vw;
    border-left: 1px solid var(--primary--200);
    right: 80%;
  }
  #page > svg {
    display: block;
  }
  header h2 {
    display: none;
  }
}
