*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  /* colors */
  --primary--100: #fcfbf0;
  --primary--200: #d9d9d9;
  --primary--300: #f5f5f5;
  --primary--400: #c4c4c4;
  --primary--500: #faff00;
  --primary--600: #ffcf0d;
  --primary--700: #ff4f0d;
  --primary--800: #e3e3e3;
  --sub-text: #5e5e5e;
  /* fonts */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --letterSpacing: 0.8px;
  --fontLightWeight: 400px;
  --fontHeavyWeight: 600px;

  --padding-from-screen-width: 10px;

  --fixed-width: 350px;
}
body {
  font-family: Inter, system-ui, -apple-system, sans-serif;
  line-height: 1.01;
  letter-spacing: var(--letterSpacing);
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
