*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  /* colors */
  --primary--100: #fcfbf0;
  --primary--200: #d9d9d9;
  --primary--300: #808080;
  --primary--400: #000000;
  --primary--500: #ffffff;
  --primary--600: #ffcf0d;
  --primary--700: #ff4f0d;

  /* fonts */
  --large-text: 17px;
  --regular-text: 16px;
  --small-text: 14px;
  --extra-small-text: 0.7em;
  --letterSpacing: 0px;
  --fontWeightLight: 400;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;

  --padding-from-screen-width: 10px;
  --fixed-width: 350px;
}
.main-font-light,
.main-font-heavy {
  color: var(--primary--400);
  text-transform: capitalize;
}
.main-font-heavy {
  font-size: var(--large-text);
  font-weight: var(--fontWeightSemiBold);
}
.sub-font {
  font-size: 14px;
  color: var(--primary--300);
}
body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  line-height: 1.01;
  letter-spacing: var(--letterSpacing);
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
